<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/fileviewer.css}">
	<script src="https://cdn.tailwindcss.com"></script>
	<style type="text/tailwindcss">
		@layer base {
			a {
			    @apply underline text-blue-600 font-serif text-base;
			}
			a:hover {
			    @apply text-blue-800;
			}
			a:visited {
			    @apply text-purple-600;
			}
			h1 {
				@apply text-3xl;
			}
			h2 {
				@apply text-2xl;
			}
			h3 {
				@apply text-xl;
			}
			h4 {
				@apply text-lg;
			}
			h1, h2, h3, h4, h5, h6 {
				@apply mt-2 font-extrabold font-serif;
			}
			ol {
				@apply mt-2 list-decimal font-serif text-base;
			}
			ul {
				@apply mt-2 list-disc font-serif text-base;
			}
			li ul {
				@apply mt-0 list-disc font-serif text-base;
			}
            li ol {
				@apply mt-0 list-decimal font-serif text-base;
            }
            p code, pre {
                @apply mt-2 rounded p-2;
            }
            p {
                @apply mt-2 font-serif text-base;
            }
            blockquote p {
                @apply mt-0;
            }
            blockquote {
                @apply mt-2 py-2 pl-4 border-l-4 border-slate-400 text-zinc-500;
            }
		}
	</style>
	<title>Directory explorer</title>
</head>
<body>
    <header>
        <div class="flex justify-start">
            <div class="mt-2">
                <a href="/">
                    <span class="fa-stack text-black">
                        <i class="fa fa-file-o fa-stack-2x"></i>
                        <i class="fa fa-arrows fa-stack-1x"></i>
                    </span>
                </a>
            </div>
            <div>
                <h1>ServerNav</h1>
            </div>
        </div>
    </header>
	<div class="flex justify-center w-full py-2">
		<div class="flex flex-col px-2 w-10/12">
			<!-- <div> -->
			<!-- 	<a th:href="@{'/getDirList' + ${prevDir}}">..</a> -->
			<!-- </div> -->
			<!-- <div class="grow-0 p-2 border-black rounded border"> -->
			<!-- 	Tree view of directories -->
			<!-- </div> -->
			<div class="grow border-black rounded border ml-0.5 text-sm font-mono">
				<div class="p-2 border-black border-b flex justify-between w-full font-serif">
                    <div class="flex">
                        <div>
                            <i class="fa fa-folder-open-o fa-lg"></i>
                        </div>
                        <div>
                            <span th:text="${prevDir} + '/' + ${fileContents.getFileName()}"></span>
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-pencil fa-lg"></i>
                    </div>
				</div>
                <div th:if="${fileContents.getContentHTML() == null}" class="p-2" id="text-editor" th:text="${fileContents.getContent()}"></div>
                <div th:if="${fileContents.getContentHTML() != null}" class="p-2" th:utext="${fileContents.getContentHTML()}"></div>
			</div>
		</div>
	</div>
</body>
</html>
