<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Directory explorer</title>
</head>
<body>
	<h1>Welcome to Explorer</h1>
	<p>Directory list</p>
	<p th:text="${pwd}"></p>
	<a th:if="${prevDir != null}" th:href="@{${prevDir}}">..</a>
	<!-- <span th:text="${#strings.equals(prevDir, '/')}"></span> -->
	<ul th:each="file: ${fileList}">
		<li>
			<a 
				th:if="${file.getType()}"
				th:text="${file.getName()}" 
				th:href="@{${file.getAbsPath()}}"
			>
			</a>
			<a 
				th:unless="${file.getType()}"
				th:text="${file.getName()}" 
				th:href="@{'/getFileContents' + ${file.getAbsPath()}}"
			>
			</a>
		</li>
	</ul>
</body>
</html>