<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Directory explorer</title>
</head>
<body>
	<h1>Welcome to Explorer</h1>
	<p>Directory list</p>
	<p th:text="${pwd}"></p>
	<a th:if="${prevDir != null}" th:href="@{'/?pathToFile=' + ${prevDir}}">..</a>
	<ul th:each="file: ${fileList}">
		<li>
			<a 
				th:text="${file.getName()}" 
				th:href="@{'/?pathToFile=' + ${pwd} + '/' + ${file.getName()}}"
			>
			</a>
		</li>
	</ul>
</body>
</html>